html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

.tree-virtualized-list {
  overflow-x: hidden !important;
}

.tree-virtualized-list.row-expanding .ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.vt-list {
  width: 400px;
  height: 400px;
}
