html,
body,
#root {
  min-height: 100vh;
  margin: 0;
}

.virtualized-tree .ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.list {
  width: 400px;
  height: 700px;
}
