@keyframes expand {
  from {
    height: 0;
  }
  to {
    height: 30px;
  }
}

@keyframes collapse {
  from {
    height: 30px;
  }
  to {
    height: 0;
  }
}

.tree-virtualized-list.row-expanding
  .ReactVirtualized__Grid__innerScrollContainer {
  overflow: visible !important;
}

.list {
  width: 100px;
  height: 100%;
}
